@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

.section-profile-cover {
    height: 370px;
}

.bannerSearch {
    position: relative;
    padding: 0 0 1rem;
}

.bannerSearch:after {
    content: '';
    background: url(../images/grunge.png) repeat-x;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(100% - 25%);
    z-index: 9;
    height: 25%;
}

.bannerSearch .bannerImg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.bannerSearch .section-profile-cover {
    height: auto !important;
}

.bannerSearch .banner-content {
    position: relative;
    z-index: 9;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerS .input-group .form-control.select2 {
    border-left: 1px solid #cad1d7;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bannerS .input-group input.form-control {
    padding-left: 15px;
}

.select2-container--default .select2-selection--single {
    outline: 0;
}

.d-between {
    display: flex;
    justify-content: space-between;
}

.d-align-center {
    display: flex;
    align-items: center
}

.d-between .res_mimimum {
    font-size: 0.8rem;
}

.minicart-content {
    white-space: nowrap;
    height: calc(100% - 75px);
}

.cat-types {
    background: #bb1263;
    padding: 10px 15px;
}

.cat-types a {
    display: block;
    color: #fff;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.cat-types+.cat-types {
    border-top: 1px solid #fff;
}

.menuType {
    border: 1px solid #eee;
    margin: 0 -10px;
}

.menuType+.menuType {
    margin-top: 30px;
}

.menuType .propBanner {
    position: relative;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.menuType .propBanner img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menuType .propBanner h2 {
    position: relative;
    z-index: 9;
    color: #ececec;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    line-height: normal;
}

.menuType .propBanner:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
}

.single-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.single-menu .menuTitle {
    max-width: calc(100% - 150px)
}

.single-menu .menuTitle p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.single-menu .menuTitle .res_title {
    font-weight: 600;
    font-size: 1rem;
}

.single-menu .d-align-center p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
    margin-right: 15px;
    white-space: nowrap;
}

.single-menu .menuTitle p.mp {
    font-size: 1.2rem;
    margin-top: 20px;
}

.btn-outline-secondary.ptom {
    border-radius: 0;
    border-color: #5e72e4;
    color: #5e72e4 !important;
    cursor: pointer;
    position: relative;
    background: transparent;
}

.btn-outline-secondary.ptom:before {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #5e72e4;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    content: '';
    visibility: hidden;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
}

.btn-outline-secondary.ptom:not(:disabled):not(.disabled):active,
.btn-outline-secondary.ptom:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.ptom.dropdown-toggle {
    border-radius: 0;
    border-color: #5e72e4;
    color: #5e72e4;
}

.btn-outline-secondary.ptom:hover:before {
    visibility: visible;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}

.btn-outline-secondary.ptom:hover {
    color: #fff !important;
}

.btn>span {
    position: relative;
    z-index: 2;
}

.br-0 {
    border-radius: 0;
}

strong,
.strong {
    font-weight: 600 !important;
}

.addMenu .modal-content {
    border-radius: 0
}

.addMenu .modal-header {
    padding: 15px;
    display: flex;
    align-items: flex-end;
    position: relative;
    border-radius: 0;
}

.addMenu .modal-header img {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
}

.addMenu .modal-header .modal-title {
    position: relative;
    z-index: 9;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
}

.addMenu .modal-header .close {
    opacity: 1;
    z-index: 9;
}

.addMenu .modal-header .close span {
    color: #000;
    font-size: 2rem;
    font-weight: 400;
}

.addMenu .single-menu {
    padding: 0;
}

.addMenu .single-menu .menuTitle {
    display: flex;
}

.addMenu .single-menu .menuTitle img {
    width: 300px;
    max-height: 300px;
    flex: 0 0 300px;
}

.addMenu .single-menu .menuTitle .menuDesc {
    padding: 1rem
}

.addMenu .single-menu .menuTitle p {
    line-height: normal
}

.addMenu .single-menu .menuTitle p.res_title {
    font-size: 1.5rem
}

.sidenav-cart {
    padding: 0;
}

.sidenav-cart .addMenu .single-menu {
    padding: 15px;
    background: #eee;
    margin-bottom: 5px;
}

.offcanvas-menu-inner {
    padding: 0;
    height: 100%;
}

.sidenav-cart .closebtn {
    position: static;
    top: 0;
    right: 0;
    font-size: 26px;
    margin-left: 0;
    padding: 0;
}

.minicart-content .searchable-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.info-block.block-info {
    border-right: 0;
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
}

.info-block.block-info .pagination {
    margin: 0
}

.cartDesc p {
    margin: 0 0 5px;
    font-size: 0.8rem;
}

.sidenav-cart a {
    font-size: 1.25rem;
}

.info-block.block-info .square-box {
    width: 70px;
    height: 70px;
    min-height: auto;
    margin-right: 15px;
}

.info-block.block-info .square-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-item .page-link,
.page-item span {
    width: 25px;
    height: 25px;
    font-size: 0.85rem;
}

.cartDesc h6 {
    font-size: 1rem;
    margin: 0;
}

.totalCalc {
    padding: 10px 15px;
    border-top: 1px solid #eee;
}

.res_close {
    padding: 3px 10px;
    font-size: 0.7rem;
    text-transform: uppercase;
    background: #e23030;
    color: #fff;
    font-weight: 600;
}

.restuarant-title .title h1 {
    font-size: 2rem;
    margin: 0;
    line-height: normal;
}

.restuarant-title .title p {
    font-size: 1rem;
    margin: 0;
    line-height: normal;
}

.restuarant-title .title ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.restuarant-title .title ul li {
    padding: 3px 10px;
    position: relative;
}

.restuarant-title .title ul li a {
    font-size: 0.8rem;
    color: #717171;
}

.restuarant-title .title ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #717171;
}

.custom-nav {
    z-index: 999;
}

.bg-light {
    background: #f2f2f2 !important;
}

.itemsPrice {
    margin: 10px 0;
}

.itemsPrice>* {
    margin: 0;
    line-height: normal;
    text-align: center;
}

.itemsPrice p {
    font-size: 0.85rem;
}

.itemsPrice h3 {
    font-size: 1.25rem;
    margin: 7px 0;
}

.stick {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar-nav .nav-item {
    position: relative;
}

.fixed-top .deliveryAddress {
    opacity: 0;
    transition: 0.2s opacity;
}

.fixed-top.custom-nav .deliveryAddress {
    opacity: 1;
}

.deliveryAddress {
    padding: 0 10px;
    cursor: pointer;
}

.deliveryAddress p {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    color: #262525;
}

.deliveryAddress p .fa {
    font-size: 1.25rem;
    margin-right: 3px;
}

.deliveryAddress p span {
    opacity: 0.7;
    margin-left: 3px;
}

.locationDrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.15s top;
    min-width: 260px;
    padding: 10px;
    background: #fff;
    z-index: 9;
    box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.2);
}

.deliveryAddress.active+.locationDrop {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.foodTypeSlider {
    margin: 15px 0
}

.foodTypeSlider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.foodTypeSlider ul li {
    padding: 5px 10px;
}

.foodTypeSlider ul li .strip {
    position: relative;
    margin-bottom: 0;
}

.foodTypeSlider ul li .strip figure {
    height: 150px;
    border-radius: 5px;
}

.foodTypeSlider ul li .strip figure img {
    border-radius: 5px;
}

.foodTypeSlider ul li .res_title {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #fff;
}

.foodTypeSlider ul li .res_title a {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 500;
}

.foodTypeSlider ul li:after {
    content: none;
}

.foodTypeSlider ul .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: 0.3s all ease-in;
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    line-height: normal;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foodTypeSlider ul .slick-arrow.slick-prev {
    left: 5px
}

.foodTypeSlider ul .slick-arrow.slick-next {
    right: 5px
}

.input-group .input-group-prepend {
    min-width: 180px;
}

.select2-results__option {
    white-space: nowrap;
}

#cartSideNav.active {
    width: 450px;
}

.sidenav-cart .addMenu .single-menu h5 {
    white-space: nowrap;
}

@media(max-width: 767px) {
    #cartSideNav.active {
        width: 100%;
    }
    .section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    h3.text-primary {
        font-size: 1.25rem;
    }
    .bannerSearch .banner-content {
        min-height: 400px;
        padding-top: 50px;
    }
    .btn-wrapper {
        margin-top: 1.5rem;
    }
    .bannerSearch .banner-content h1 {
        font-size: 1.5rem;
    }
    .indexThumbs h1 {
        font-size: 1.5rem;
        margin: 0;
    }
    .input-group .input-group-prepend {
        min-width: 150px;
    }
    .restuarant-title .title .d-align-center {
        flex-wrap: wrap;
    }
    .restuarant-title .title ul {
        padding-left: 0;
        width: 100%;
        margin: 5px 0;
    }
    .section-profile-cover {
        height: 200px;
    }
    .stick {
        position: static;
    }
    .menuType {
        margin: 0;
    }
    .menuType .mobileAccordion {
        max-height: 999vh;
        transition: 0.3s all ease;
        overflow: hidden
    }
    .menuType.activeAccordion .mobileAccordion {
        max-height: 0
    }
    .menuType.activeAccordion .propBanner .btn .fa-angle-down:before {
        content: "\f106";
    }
    .menuType+.menuType {
        margin-top: 15px;
    }
    .menuType .propBanner h2 {
        font-size: 1.25rem;
        flex: 0 0 calc(100% - 45px);
    }
    .menuType .propBanner .btn {
        position: relative;
        z-index: 1;
        flex: 0 0 30px;
        padding: 0;
        border-radius: 0;
        height: 25px;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sidenav-cart {
        padding: 0;
    }
    .sidenav-cart .addMenu .single-menu {
        padding: 15px;
        background: #eee;
        margin-bottom: 5px;
    }
    .offcanvas-menu-inner {
        padding: 0;
        height: 100%;
    }
    .sidenav-cart .closebtn {
        position: static;
        top: 0;
        right: 0;
        font-size: 26px;
        margin-left: 0;
        padding: 0;
    }
    .minicart-content .searchable-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .info-block.block-info {
        border-right: 0;
        margin: 0;
        padding: 10px 15px;
        border-bottom: 1px solid #e8e8e8;
        display: flex;
    }
    .info-block.block-info .pagination {
        margin: 0
    }
    .cartDesc p {
        margin: 0 0 5px;
        font-size: 0.8rem;
    }
    .sidenav-cart a {
        font-size: 1.25rem;
    }
    .info-block.block-info .square-box {
        width: 70px;
        height: 70px;
        min-height: auto;
        margin-right: 15px;
    }
    .info-block.block-info .square-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .page-item .page-link,
    .page-item span {
        width: 25px;
        height: 25px;
        font-size: 0.85rem;
    }
    .cartDesc h6 {
        font-size: 1rem;
        margin: 0;
    }
    .totalCalc {
        padding: 10px 15px;
        border-top: 1px solid #eee;
    }
    .res_close {
        padding: 3px 10px;
        font-size: 0.7rem;
        text-transform: uppercase;
        background: #e23030;
        color: #fff;
        font-weight: 600;
    }
    .restuarant-title .title h1 {
        font-size: 1.5rem;
    }
    .restuarant-title .title p {
        font-size: 1rem;
        margin: 0;
        line-height: normal;
    }
    .restuarant-title .title ul li {
        padding: 1px 10px;
    }
    .restuarant-title .title ul li a {
        font-size: 0.75rem;
    }
    .restuarant-title .title ul li:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: #717171;
    }
    .custom-nav {
        z-index: 999;
    }
    .bg-light {
        background: #f2f2f2 !important;
    }
    .itemsPrice {
        margin: 10px 0;
    }
    .itemsPrice>* {
        margin: 0;
        line-height: normal;
        text-align: center;
    }
    .itemsPrice p {
        font-size: 0.85rem;
    }
    .itemsPrice h3 {
        font-size: 1.25rem;
        margin: 7px 0;
    }
    .stickyParent {
        position: relative;
    }
    .stick {
        position: absolute;
        z-index: 99;
        left: 15px;
        right: 15px;
    }
    .navbar-nav .nav-item {
        position: relative;
        width: 100%;
    }
    .fixed-top .deliveryAddress {
        opacity: 0;
        transition: 0.2s opacity;
    }
    .fixed-top.custom-nav .deliveryAddress {
        opacity: 1;
        padding: 0;
    }
    .deliveryAddress {
        padding: 0 10px;
        cursor: pointer;
    }
    .deliveryAddress p {
        margin: 0;
        font-size: 1em;
        font-weight: 500;
        color: #262525;
    }
    .deliveryAddress p .fa {
        font-size: 1.25rem;
        margin-right: 3px;
    }
    .deliveryAddress p span {
        opacity: 0.7;
        margin-left: 3px;
    }
    .locationDrop {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transition: 0.15s top;
        min-width: 260px;
        padding: 10px;
        background: #fff;
        z-index: 9;
        box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.2);
    }
    .deliveryAddress.active+.locationDrop {
        top: 100%;
        opacity: 1;
        visibility: visible;
    }
    .single-menu {
        flex-wrap: wrap;
    }
    .single-menu .menuTitle {
        max-width: 100%;
    }
    .single-menu .d-align-center {
        width: 100%;
        justify-content: space-between;
    }
    .single-menu .menuTitle .res_title {
        font-size: 0.9rem;
    }
    .addMenu .modal-header {
        padding: 10px 15px;
    }
    .addMenu .modal-header .modal-title {
        font-size: 1.25rem;
    }
    .addMenu .single-menu .menuTitle {
        flex-direction: column;
    }
    .addMenu .single-menu .menuTitle img {
        width: 100%;
        flex: 0 0 auto;
    }
    .addMenu .single-menu .menuTitle p.res_title {
        font-size: 1.15rem;
    }
    .single-menu .menuTitle p.mp {
        font-size: 1rem;
    }
    .addMenu .btn {
        font-size: 0.75rem;
        padding: 0.5rem 1.25rem;
        line-height: 1.25;
    }
    .foodTypeSlider {
        margin: 15px 0
    }
    .foodTypeSlider ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .foodTypeSlider ul li {
        padding: 5px 10px;
    }
    .foodTypeSlider ul li .strip {
        position: relative;
        margin-bottom: 0;
    }
    .foodTypeSlider ul li .strip figure {
        height: 150px;
        border-radius: 5px;
    }
    .foodTypeSlider ul li .strip figure img {
        border-radius: 5px;
    }
    .foodTypeSlider ul li .res_title {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        color: #fff;
        z-index: 1;
    }
    .foodTypeSlider ul li .res_title a {
        color: #fff;
        text-transform: capitalize;
        font-size: 1.25rem;
        font-weight: 500;
    }
    .foodTypeSlider ul li:after {
        content: none;
    }
    .foodTypeSlider ul .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        border: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        transition: 0.3s all ease-in;
        font-size: 2rem;
        font-weight: 700;
        padding: 0;
        line-height: normal;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .foodTypeSlider ul .slick-arrow.slick-prev {
        left: 5px
    }
    .foodTypeSlider ul .slick-arrow.slick-next {
        right: 5px
    }
    .menuType .propBanner {
        margin-bottom: 0;
        flex-direction: unset;
        justify-content: space-between;
    }
    .footer {
        padding: 0.5rem 0;
    }
}